@import url('https://fonts.googleapis.com/css2?family=Tauri&family=Teko:wght@300;400;500;600&display=swap');

:root {
  --primary-color: #AD30FA;
  --secondary-color: #07C5D1;
  --background-color: #01041E;
  --circle-color: rgba(74, 8, 125, 0.36);
  --text-background: linear-gradient(84.41deg, #851EED 21.84%, #07C5D1 83.77%);
  --brackets-color: #FFF506;
  --equal-color: #E02AAD;
  --para-color: #AD62F8;


  --font-size: 28px;
  --title-size: 180px;
  --font-weight: normal;
  --font-family: 'Tauri', 'Raleway', sans-serif;
  --title-font: 'Teko', 'Raleway', sans-serif;
}

.hamburger {
  display: block;
}
.devv-btn{
  @apply bg-gradient-to-r from-[#AD30FA05] to-[#2ea2aa59] hover:shadow-[#AD30FA] hover:shadow-lg transition-all ease-linear text-white px-5 py-2 rounded shadow-[#AD30FA]/30 shadow-md  backdrop-blur-[10px] !important;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
    z-index: 77;
  }
}

.devv-title {
  font-family: var(--title-font);
  z-index: 99;
  font-weight: 400;
  background: linear-gradient(84.41deg, #851EED 30%, #07C5D1 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.devv-btn {
  background: linear-gradient(84.41deg, #851EED 21.84%, #07C5D1 83.77%);
}

.devv-btn-hover {
  background: linear-gradient(84.41deg, #07C5D1 21.84%, #851EED 83.77%);
}

.devv-bg {

  background: linear-gradient(45deg, #F17C5815, #E9458415, #24AADB15, #27DBB115, #FFDC1815, #FF370615);
  background-size: 600% 100%;
  animation: devvAnimation 4s linear infinite alternate;
  -webkit-animation: devvAnimation 4s linear infinite alternate;

}

.devvTextAnimation {
  color: #fc3735;
  background: linear-gradient(45deg, #E94584, #24AADB, #27DBB1, #FFDC18, var(--primary-color));
  -webkit-background-clip: text;
  background-size: 600% 100%;
  -webkit-text-fill-color: transparent;
  background-size: 600% 100%;
  -webkit-animation: devvAnimation 14s linear infinite alternate;
  animation: devvAnimation 14s linear infinite alternate;
}

.devv-icon {
  color: #fc3735;
  background: -webkit-linear-gradient(left, var(--primary-color), var(--secondary-color), var(--brackets-color));
  background-size: 1600px 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animationIcon 3s infinite alternate;
}

.skeleton {
  -webkit-animation: skeleton 1s linear infinite alternate;
  animation: skeleton 1s linear infinite alternate;
  width: 100%;
  height: 100%;
}
.devv-img-skeleton{
  -webkit-animation: skeleton 1s linear infinite alternate;
  animation: skeleton 1s linear infinite alternate;

}

.thumbnail {
  width: 100vw;
}

@-webkit-keyframes skeleton {
  0% {
    background-color: #07C5D1;
  }

  100% {
    background-color: hsla(293deg, 94%, 57%, 0.7);
  }
}

@keyframes skeleton {
  0% {
    background-color: hsla(199deg, 72%, 59%, 0.315);
  }

  100% {
    background-color: hsla(293deg, 94%, 57%, 0.7);
  }
}


@keyframes devvAnimation {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes devvTextAnimation {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes animationIcon {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}




#themeSwitcher span {
  background: #000;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  width: 80px;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  left: 40px;
  top: 20px;
  color: rgb(255, 255, 255);
  z-index: -999;
  background: linear-gradient(right, var(--primary-color), var(--secondary-color));
  background: -webkit-linear-gradient(right, var(--primary-color), var(--secondary-color));
  transform: skewX(-10deg) !important;
  transition: all 0.5s ease;
  /* transform: rotate3d(2, 1, 2, 51deg) !important; */
}

#themeSwitcher span::after {
  content: '';
  position: absolute;
  top: 1.5rem;
  left: -26px;
  transform: skewX(-50deg) rotate3d(0, 0, 1, 45deg) !important;
  width: 10px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  background: -webkit-linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  z-index: -999 !important;
}




/*# sourceMappingURL=style.css.map */