@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-100 font-sans overflow-x-hidden min-h-screen antialiased;
    background: linear-gradient(to bottom right, #040224, #0c0129);
    background-attachment: fixed;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #040224;
  }
  ::-webkit-scrollbar-thumb {
    background: #851eed6c;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #07c4d179;
  }
}