@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: var(--background-color); */
  color: var(--primary-color);
  font-family: tauri;
  overflow-x: hidden;
  background: linear-gradient(to left,
      #040224,
      #0c0129);
  background-size: cover !important;
  background-position: center center;
}

img {
  max-width: 100%;
}

header {
  padding: 20px 7vw;
}

.circle {
  width: 30rem;
  height: 30rem;
  position: fixed;
  top: 10rem;
  left: -14rem;
  z-index: -1 !important;
  opacity: 0.3;
  border-radius: 50%;
  filter: blur(10rem);
  background: linear-gradient(84.41deg, #851eed6c 60.84%, #07c4d179 83.77%);
}

.c2 {
  background: #8218c994 !important;
  top: 1rem !important;
  left: 60rem;
  z-index: -999;

}

.c3 {
  background: linear-gradient(84.41deg, #07c4d180 60.84%, #851eed 83.77%);
  top: -12rem;
  left: 48%;
  z-index: -1;
}