header{
    z-index: 9999;
    div{
        background: transparent !important;
    }
}
.logo{
    img{
        width: 180px;
    }
}
@media (max-width: 768px) {
    .nav{
        background-color: #851eed57;
        backdrop-filter: blur(5px);
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 60px;
        z-index: 999;
        height: 100vh !important;
    }
    .menu{
        background: transparent;
    }
    .navitem{
        text-align: left;
        width: 50vw !important;
        padding: .2rem;
    }
 
}